.title {
  &-small {
    letter-spacing: 0.2rem;
    font-size: 1.7rem;
    &-center {
      text-align: center;
    }
  }
}
.text {
  &-primary {
    color: var(--primary);
  }
  &-hint {
    color: var(--hint);
  }
}
