.title {
  &-small {
    letter-spacing: 0.2rem;
    font-size: 1.7rem;
  }
}
.text {
  &-primary {
    color: var(--primary);
  }
  &-hint {
    color: var(--hint);
  }
}

// pour faire apparaitre ou disparaitre une div
.hide {
  display: block;
}
// pour cacher un text ne pas afficher la div
.appText {
  display: none;
}
